name: TechTrends - Package with Docker
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps: 
      -
        name: Generate tag
        id: buildtag
        run: echo "::set-output name=tag::$(date +%s)"
      -
        name: Checkout
        uses: actions/checkout@v3

      -
        name: Setup QEMU
        uses: docker/setup-qemu-action@v2

      -
        name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      -
        name: Login in Dockerhub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          platform: linux/amd64
          push: true
          tags: psharneja/tech-trends:${{ steps.buildtag.outputs.id }}
